*.class
*.log
logs/
log/
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
target/
bin/
build/
out/
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
*~
.DS_Store
.cache
node_modules/
ajcore*
*.epoch
