<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<title>主页</title>

     <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<meta name="keywords" content="botany, responsive, bootstrap, free template, fluid layout, templatemo, html css" />
	<meta name="description" content="Botany Template is free responsive template with a fluid background image." />


    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="/css/templatemo_style.css" type="text/css">
    <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen">

    <script src="/slider/modernizr.js"></script>

    <style>
        .button{
            color:rgb(255, 255, 255);
            font-size:14px;
            padding-top:7px;
            padding-bottom:7px;
            padding-left:25px;
            padding-right:25px;
            border-color: rgba(255, 150, 31, 0.5);
            border-radius: 8px  ;
            border-width: 1px;
            background-color: rgba(255, 150, 31, 1);
        }
        .button:hover{
            color:#ffffff;
            background-color: #98654d;
            border-color:#f7e1b5;
        }

        .button1 {
            border-color: rgba(15, 184, 192, 0.71);
            background-color: rgba(0, 245, 255, 0.69);
            }
        .button1:hover{
            color:#ffffff;
            background-color:#5bc0de;
            border-color:#a6e1ec;
        }
        .button2 {
            font-size:12px;
            padding-top:3px;
            padding-bottom:3px;
            padding-left:13px;
            padding-right:13px;
            float:right;
            }
	.box{
		width: 830px;
		border:0;
        background: rgba(0,0,0, 0.5);
	}
	.box-left{
		width: 260px;
		float: left;

	}
	.box-right{
		margin-left: 260px;
	}
.table>tbody>tr:hover {
    background-color: #000000;
}
	</style>

</head>
<body class="templatemo_juice_bg">
<span style="font-family: '幼圆'; ">
	<center>
<!--    {% if messages %}-->
<!--    <ulclass="messages">-->
<!--        {%for message in messages %}-->
<!--        <li{%if message.error %} class="{{ message.error}}"{% endif %}>{{message }}</li>-->
<!--        {%endfor %}-->
<!--    </ul>-->
<!--    {% endif %}-->
<!--    </center>-->
    <div id="main_container">
		<div class="container" id="home">
			<div class="row col-wrap">
				<div id="left_container" class="col col-md-3 col-sm-12">
                	<div class="templatemo_logo">
						<a  href="#"><img src="/images/ALY.png/" alt="Botany Theme"/></a>
					</div>
					<nav id="main_nav">
						<ul class="nav">
							<li class="active" style="font-family: '幼圆'; "><a href="/index/">主页</a></li>
							<li><a href = "/add/"style="font-family: '幼圆'; ">添加游记</a></li>
							<!--<li><a href=""style="font-family: '幼圆'; ">不知道</a></li>
							<li><a href=""style="font-family: '幼圆'; ">不知道</a></li>-->
							<li><a href="/my_note/" style="font-family: '幼圆'; ">查看我的游记</a></li>
						</ul>
					</nav> <!-- nav -->
                    <br>
                    <br>
                    <a type="button" class="button button1" href = "/login/" style="color: white">登录</a>
                    <a type="button" class="button button1" href = "/logout/" style="color: white">注销</a>
                    <br>
                    <br>
                    <br>
                    <center>
                     
                         <a  style="color: white">当前用户：${login_user!"未登录游客"}</a>
                         
                    
                </center>
                 <br> <br> <br>

					<div>
						<a  href="#"><img src="/images/facebook.png" alt="Like us on Facebook"/></a>
						<a href="#"><img src="/images/twitter.png" alt="Follow us on Twitter"></a>
						<a href="#"><img src="/images/rss.png" alt="RSS feeds"></a>
					</div>


				</div>

				<div id="right_container" class="col col-md-9 col-sm-12">
					<div class="row">
                    	<div class="col col-md-12">

                    		<h2 style="color: #ffffff;font-family: '微软雅黑 Light'">游记摘要系统</h2>

                            <div class="flexslider">
                            </div>

        				</div>
                    </div>


                    <div class="box">
		                <div class="box-left">
                            <center>
                            <h1 class="text-center" style="color: white;font-family: '幼圆'; ">游记列表</h1>
<!--                            <p>-->
<!--                                {% for hot in hotlist %}-->
<!--                                    <a>{{ hot.content }}</a>-->
<!--                                    <br>-->
<!--                                {% endfor %}-->
<!--                            </p>-->
                                <center>
		                </div>
                        <form class="navbar-form" method="post" action="/search/">
                            <div class="form-group">
                              <input id="keyword" name="keyword" type="text" placeholder="关键字" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">搜索</button>
                          </form>

                        <form action="/sort/" method="POST">
                          <div class="form-group">
                            <select id="sort" name="sort" class="form-control" onchange="javascript:this.form.submit();">    <!--如果改变  就自动提交-->
                                <option value="None">选择排序方式</option><!--默认是其中某一种-->
                                <option value="点赞数">点赞数</option>
                                <option value="评论数">评论数</option>
                                <option value="浏览量">浏览量</option>

                            </select>
                          </div>

                            <div class="form-group" hidden="hidden">
                                <button  type="submit" id="btn1" class="btn btn-primary btn-lg" style="margin: 0px auto;display: table;">交卷</button>
                            </div>
                        </form>

		                <div class="box-center">
                        <table  class = "table" >
                            <thread>
                                <tr>
                                    <th class="text-center" style="width:30%;color: white">作者</th>
                                    <th class="text-left" style="width:70%;color: white">游记标题</th>
                                </tr>
                            </thread>
                            <tbody>
                            <#list mapList as note>
                             <tr>
                                <td>
                                    <center>
                                        <br>
                                    <a type="button" class="button" href="/information/?personid={{ ask.person.id }}" style="color: white">${note.username!}</a>
                                    </center>
                                </td>
                                 <td >
                                     <br>

                                     <a class="text-left"style="color: white" >${note.textname!} </a>
                                        <a type="button" class="button button2" href="/detail/?id=${note.id!}">查看详细</a>
<!--                                     <a type="button"  class="button button2" href="/answer/?askid={{ ask.id }}">回复</a>-->
                                     <br>
                                 </td>
                             </tr>
                            </#list>
                            </tbody>
                         </table>
		                </div>
                    <br><br><br><br><br>
	                </div>

                    <br><br><br><br><br><br><br><br><br><br>

				</div>
			</div>
		</div>
	</div>
</body>
</html>