<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="keywords" content="Winter Login Form Responsive widget, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--	<link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel = "stylesheet"/>-->
	<link rel="stylesheet" href="/css/font-awesome.css">
	<link rel="stylesheet" href="/css/style.css">
	<!-- google fonts  -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
    <style>
        input[type="password"]{
            outline: 0;
            padding: 12px 15px;
            border-radius: 25px;
            border: none;
            background-color: rgba(87, 102, 103, 0.59);
            color: white;
	        width: 90%;
	        letter-spacing: 1px;
        }

    </style>
</head>
<body>
	<div class="agile-login">
		<h1> 欢迎登录游记摘要系统 </h1>
		<div class="wrapper">
			<h2>请登录</h2>
			<div class="w3ls-form">
				<form action="/login/" method="POST">
                  
					<label>用户名</label>
					<input type="text" name="username" placeholder="用户名" required/>
					<label>密码</label>
					<input type="password"  name="password" placeholder="密码" required />

                    <input type="submit" value="登录" style="width:50%"  />
				</form>
				<input type="submit" value="注册" style="width:50%" onclick="location.href='/register/' "/>
			</div>
			<div class="agile-icons">
				<a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
				<a href="#"><span class="fa fa-facebook"></span></a>
				<a href="#"><span class="fa fa-pinterest-p"></span></a>
			</div>
		</div>
		<br>
	</div>

</body>
</html>